extends layout
block content

    h1= title
    p Welcome to #{title}
    p Math.atan2() is applied to #{value1} is #{tangent}
    p Math.atanh() is applied to #{value2} is #{tanh}
    p Math.cbrt() is applied to #{value3} is #{cb}

    